@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .pop {
    @apply border;
    @apply border-base-500;
    @apply shadow-solid;
  }
}

.markdown-body {
  @apply prose;
  max-width: 95%;
}

.markdown-body a {
    @apply text-primary;
}

.carta-font-code {
  font-family: "...", monospace;
  font-size: 1.1rem;
  line-height: 32px;
}

.markdown-body :where(code):not(:where([class~="not-prose"] *, pre *)) {
  border-radius: 0.3rem;
  color: var(--fallback-p, oklch(var(--p) / var(--tw-text-opacity, 1)));
}

.carta-editor {
  @apply text-base-content;
}

.carta-editor .carta-input {
  @apply text-base-content;
}

.carta-editor .carta-input textarea {
  @apply text-base-content;
  color: inherit !important;
}

.carta-editor .carta-renderer {
  @apply text-base-content;
}

.carta-editor .carta-renderer * {
  @apply text-base-content;
}

/* disorientationCTF 2026 - styling */

body {
  color: var(--text_primary);
}

.press-start-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.challenge_card_title {
  font-size: 15px;
}

.challenge_card_button {
  width: 14vw;
  min-width: 170px;
}

.canvas_holder {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -900;
  background: #2B2734;
  
  canvas {
    height: 3000px;
    image-rendering: pixelated;
  }
}

.navbar_div {
  align-items: flex-start;
  z-index: 100;
}

.navbar_left {
  margin-top: 1vw;
}

.navbar_right {
  margin-top: 1vw;
}

.navbar_logo {
  width: 30vw;
  min-width: 200px;
}

.navbar_cssa {
  justify-content: center;
  height: 0;
  svg {
    width: 7vw;
    min-width: 80px;
    path {
      stroke: #D9D3E5;
    }
  }
}

.home_div {
  z-index: 10;
  height: 80vh;
  min-height: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 60vw;
  }
  .home_info_div {
    z-index: 10;
    padding-top: 5vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
    .btn {
      border-radius: 0;
      box-shadow: 7px 7px 0px #1b171d
    }

    .home_info_div_left {
      width: 40vw;
      height: 15vh;
    }

    .home_button_div {
      width: 20vw;
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .sponsors_div {
    z-index: 10;
    margin-top: 5vh;
    padding: 4px;
    width: 16vw;
    min-width: 200px;
    background: #433B52;
    box-shadow: 7px 7px 0px #1b171d;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
      aspect-ratio: auto;
      height: auto;
      width: auto;
    }
  }
}

@media screen and (max-width: 1000px) {
  .home_div {
    .home_info_div {
      flex-direction: column;
      gap: 20px;
      height: 50vh;
      .home_info_div_left {
        width: 60vw;
      }

      .home_button_div {
        width: 60vw;
      }
    }
    .sponsors_div {
      width: 30vw;
    }
  }
}