@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .pop {
    @apply border;
    @apply border-base-500;
    @apply shadow-solid;
  }
}

.carta-theme__default {
  --border-color: var(--border-color-dark) !important;
  --selection-color: var(--selection-color-dark) !important;
  --focus-outline: var(--focus-outline-dark) !important;
  --hover-color: var(--hover-color-dark) !important;
  --caret-color: var(--caret-color-dark) !important;
  --text-color: var(--text-color-dark) !important;
}

.markdown-body {
  @apply prose;
  max-width: 95%;
}

.carta-font-code {
  font-family: "...", monospace;
  font-size: 1.1rem;
  line-height: 32px;
}

.markdown-body :where(code):not(:where([class~="not-prose"] *, pre *)) {
  border-radius: 0.3rem;
  color: var(--fallback-p, oklch(var(--p) / var(--tw-text-opacity, 1)));
}

.carta-editor {
  @apply text-base-content;
}

.carta-editor .carta-input {
  @apply text-base-content;
}

.carta-editor .carta-input textarea {
  @apply text-base-content;
  color: inherit !important;
}

.carta-editor .carta-renderer {
  @apply text-base-content;
}

.carta-editor .carta-renderer * {
  @apply text-base-content;
}
